@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700');

/*-----------------------------------*\
$ANIMATIONS
\*-----------------------------------*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@-webkit-keyframes shake {
    from,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
}
  
@keyframes shake {
    from,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
}
  
.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
}

@-webkit-keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(360deg);
    }
}

/*-----------------------------------*\
$GENERAL STYLING
\*-----------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s;
    font-family: 'Josefin Sans', sans-serif;
}

.btn:focus,
.btn:active,
input,
.form-control:focus,
.form-control:active {
    outline: none !important;
    box-shadow: none;
}

body {
    background: #B993D6;
    background: rgb(228, 228, 228);
    /* background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6); Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, rgba(2, 80, 116, 0.8), rgba(0, 136, 113, 0.8)); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*-----------------------------------*\
$The Main Container
\*-----------------------------------*/
.container {
    width: 560px;
    height: auto;
    padding: 0;
    margin: auto;
    color: #415868;
    background: rgb(255, 255, 255);
    margin-top: 100px;
    border-radius: 7px;
    box-shadow: 0 0 15px 3px rgba(0,0,0,.4);
}

/*-----------------------------------*\
$THE LOGIN FORM
\*-----------------------------------*/
#theForm {
    display: none;
}

#theForm form {
    margin: auto;
    position: relative;
    text-align: center;
    padding: 50px;
    width: 560px;
    height: auto;
    padding-bottom: 100px;
    border-radius: 7px;
}

#theForm form h1 {
    margin-bottom: 30px;
}

#theForm form h2 {
    font-weight: 300;
}

#theForm form i.material-icons {
    font-size: 5em;
    margin-bottom: 30px;
    opacity: .6;
}

#theForm form i.finger-print {
    color: #007bff;
}

#theForm form i.warning {
    display: none;
    color: #dc3545;
}

#theForm form i.success {
    display: none;
    color: #28a745;
}

#theForm form .form-group {
    display: block;
}

#theForm form #pass {
    border: 2px solid #ced4da;
}

#theForm form button i.loading {
    font-size: 3em;
    -webkit-animation: rotate 1s infinite ease-in-out;
}

#theForm form button {
    position: absolute;
    bottom: -10px;
    border-radius: 0 !important;
    width: 100%;
    left: 0;
    font-size: 1.5em !important;
    height: 60px;
    border-bottom-left-radius: 7px !important;
    border-bottom-right-radius: 7px !important;
}

/*-----------------------------------*\
$QUESTION SECTIONS
\*-----------------------------------*/
section {
    display: block;
    background: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    border-radius: 7px;
    box-shadow: 0 0 15px 3px rgba(0,0,0,.4);
}

#quizForm {
    position: relative;
    background-color: transparent;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 30px;
    padding-bottom: 70px;
}

#quizForm h2 {
    text-align: center;  
}

#quizForm p {
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: -10px;
    margin-top: -5px;
}
/* Hide all steps by default: */
#quizForm .tab {
    display: none;
}

#quizForm .tab .custom-radio {
    margin-top: 10px;
}

#quizForm button {
    position: absolute;
    bottom: -10px;
    border-radius: 0;
    width: 100%;
    left: 0;
    font-size: 1.5em;
    height: 60px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

/* Make circles that indicate the steps of the form: */
#quizForm .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

#quizForm .step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
#quizForm .step.finish {
    background-color: #4CAF50;
}

/*-----------------------------------*\
$RESPONSIVENESS
\*-----------------------------------*/
@media screen and (max-width: 768px) {

    .container, #theForm form {
        width: 480px;
        margin-top: 70px;
    }
    #theForm form i.material-icons {
        font-size: 4.5em;
    }
}
@media screen and (max-width: 600px) {

    .container, #theForm form {
        width: 320px;
        margin-top: 50px;
    }
    #theForm form i.material-icons {
        font-size: 4em;
    }
    #theForm form h1 {
        font-size: 2.2em;
    }
}